@import 'bootstrap/dist/css/bootstrap.min.css';

.form-check-input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    border: 2px solid #0d6efd;
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-label {
    cursor: pointer;
    margin-left: 0.5em;
}

.table-secondary {
    opacity: 0.7;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}
